.DS_Store

**/*-mds.*
**/terraform-output.*
**/*.pem
**/terraform-orig.*
**/*.tfstate
**/*.tfplan
**/terraform.zip
**/.terraform
**/jq
**/terraform
terraforming-tanzu/terraform.tfvars
terraforming-tanzu/opsman.pem
terraforming-tanzu/azure-tanzu-automation/terraform-output.json
terraforming-tanzu/azure-tanzu-automation/creds.yml
tanzu-terraforming-azure.tar
