.DS_Store

**/*-mds.*
**/terraform-output.*
**/*.pem
**/terraform-orig.*
**/*.tfstate
**/*.tfplan
**/terraform.zip
**/.terraform
**/jq
**/terraform
**/terraform.tfvars
**/azure-tanzu-automation/terraform-output.json
**/azure-tanzu-automation/creds.yml
tanzu-terraforming-azure.tar
