.DS_Store
**/.DS_Store
**/*-mds.*
**/terraform-output.*
**/*.pem
**/terraform-orig.*
**/*.tfstate
**/*.tfplan
**/terraform.zip
**/.terraform
**/jq
**/terraform
**/azure-tanzu-automation/terraform-output.json
tanzu-terraforming-azure.tar
